.page-container{
display: flex;
flex-direction: row;
height: auto;

} 

.side-left{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px 40px 40px 100px;
    text-align: start;

}

.send-button{
    color: #ffffff
}

.side-right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.side-left h1{ 

    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 68px;

}

.side-left p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: regular;
    color: var(--color-paragraph);


}

.div-email {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 40px;


}

.input-email{
    border-radius: 50px;
    height: 64px;
    width: 30vw;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    padding-left: 20px;
}


.button-insight {
    width: 230px;
    height: 48px; 
    padding: center; 
    border-radius: 50px; 
    border: 1px solid #3461FF; 
    background-color: #3461FF; 
    color: #ffffff; 
    font-family: 'Inter', sans-serif; 
    font-size: 18px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none;  

}

.button-insight a{
color: white;
}



.side-right img{
  
    width: 28vw;
    height: 80vh;
}


 
@media (max-width: 732px) { 
.side-right{
    display: none;

}



.side-left{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
    height: auto;
}


.button-insight{
    width: 200px;
    margin-left: 23px;

}

.animated-text{
    display: none;
}



.side-left p {
    font-size: 15px;
}


}



