.footer {
  width: 100%;
  height: 352px;
  background-color: #f2f2f2;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  display: grid;
  margin-left: 140px;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  width: 180px;
  height: 36px;
  align-items: center;
}

.social-icons img {
  width: 27px;
  height: 27px;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 38px;
}

.social-icons a {
  margin-right: 10px;
  color: #000;
}

.footer-center,
.footer-right {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-end;
  margin-left: 10px;
}

.footer-right a {
  margin-right: 90px;
  color: #000;
  text-decoration: none;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 40px;
  font-size: 16px;
}

.footer-center .footer-links a {
  color: #000;
  text-decoration: none;
}

.contact-button {
  width: 200px;
  height: 51px;
  background-color: #3461ff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #000;
}

.footer-links-small {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-links-small a {
  margin-right: 10px;
  color: #000;
  text-decoration: none;
}

.footerEnd {
  display: flex;
  width: 100%;
  height: 119px;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerEnd p {
  font-size: 16px;
  margin-left: 90px;
  color: #ffffff;
}

.footerEnd-links a {
  font-size: 16px;
  color: white;
  margin-right: 90px;
  text-decoration: none;
  display: inline-block;
}

.footer-links a:hover {
  color: #3461ff;
}

@media (max-width: 1160px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 30px;
  }
  .footer-left {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-button {
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: #3461ff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .social-icons img {
    margin: 0 10px;
    
  }
  .footer-center,
  .footer-right {
    justify-content: center;
    margin-left: 0;
  }
  .footer-right a {
    margin-right: 20px;
  }
  .footer-links li {
    margin-bottom: 20px;
    height: auto;
  }


  .footerEnd {
    display: flex;
    flex-direction: column; /* Alterado para coluna para empilhar os itens */
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 20px;
    height: auto; /* Definir a altura como automática */
    overflow-y: auto;
  }

  .footerEnd p {
    margin: 0; /* Remover todas as margens */
  }

  .footerEnd-links {
    margin-top: 05px; /* Adiciona espaço entre os elementos */
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: 7rem;
  }


  }

