.second-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-section{
 width: 50vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 20px 20px 20px 20px;
 text-align: start;
}

.left-section-content{
width: 450px;
height: 150px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: start;
}

.left-section-content h1 {
  font-size: 55px;
  font-weight: 400;
}

.right-section {
 
  padding: 10px 10px 10px 10px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}

.right-section-values{
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.right-section-values img{
  height: 60px;
  
}

.right-section-values h2{
  font-weight: 400;
  }

.right-section-values p{
width: 300px;
}





@media (max-width: 732px) {
  .section {

    margin-top: 10vh;
  }

  
.main-title{

margin-bottom: -80px;
}

  .main-title h1 {
    font-size: 30px;
  }

  .main-title p {
    font-size: 14px;
  }

  .section-one {
    display: flex;
    margin: 0px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .section-txt-title {
    font-size: 25px;
  }

  .section-txt-subtitle {
    font-size: 17px;
  }

  .text-item,
  .textP {
    font-size: 15px;
  }

  .section-txt {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0rem;
    padding: 0px 10px 0px 10px;
  }

  .section-web-d {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    padding-left: 0rem;
    align-items: center;
    padding-bottom: 0rem;
    justify-content: center;
    align-items: center;
  }

  .section-img {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding-top: 10px;
  }

  .second-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    padding-top: 0rem;

  }

  .section-right {
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
  }

  .left-img {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;

  }

  .left-img img {
    height: 400px;
  }

  .text-item-img {
    align-items: start;
    
  }
.right-section-values{

  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.left-section-content{
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  }
}