.statistics-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.statistics-left {
  background-color: white;
  padding: 40px;
}
.statistics-right {
  background-color: white;
  padding: 40px;
}

.textStatistics {
  padding: 40px;
  width: 50%;
}

.backgroundStatistics,
.backgroundText {
  background-color: white;
  color: black;
}

.statistic h1 {
  font-size: 3em;
  margin-bottom: 2px;
  color: #333;
}

.statistic p {
  font-size: 1em;
  color: #666;
}

a {
  color: blue;
}

@media (max-width: 732px) {
  .statistics-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhar os itens no início do contêiner */
    flex-direction: column; /* Garantir que os itens sejam exibidos em linha */
    margin-top: 0; /* Remover qualquer margem superior */
    height: auto;
    margin-bottom: 0;
  }
}

  .statistics-left,
  .statistics-right,
  .textStatistics {
    width: 100%;
    margin: 0;
    
  }

  .statistics-left,
  .statistics-right {
    padding: 20px;
  }
  .textStatistics.backgroundText{

    flex-direction: column;
    padding: 20px;
  }


